<% include ../partials/header %>

<h1>Sign Up</h1>
<div id="errors">
</div>
<form id="signup" action="/signup", method="POST">
  <div>
    <label for="email">Email:
    <input type="email" id="email" name="user[email]" placeholder="enter your email" />
    <span id="#email-span"></span>
  </div>
  <div>
    <label for="pw1">Password:
    <input type="password" id="pw1" name="user[password]" placeholder="enter a password" />
    <span id="#pw1-span"></span>
  </div>
  <div>
    <label for="pw2">Confirm your password:
    <input type="password" id="pw2" name="pw2" placeholder="type your password again" />
    <span id="#pw2-span"></span>
  </div>
  <input type="submit" value="Sign Up" />
</form>

<% include ../partials/footer %>